extends layout-customer

block head

block content
	h1.page-header Dashboard
	h2.sub-header Haushalte
	
	table.table.table-striped
		each household in households
			tr
				td
					a.btn.btn-primary(href='/household/' + household.id)= household.name + " » "
						span.badge(id='household'+ household.id + 'new') Neu
				td
					if household.role === 'founder'
						span &#9733;
				td= household.members
				td
					a.disabled.pull-right.btn.btn-danger(href='/household/leave?id=' + household.id)
						span(aria-hidden='true') &times;
						span.sr-only Verlassen

	p &#9733; = Gründer
					
	form(method='POST', action='/household/create')
		input(type='hidden', name='_csrf', value=_csrf)
		div.input-group
			input.form-control(type='text', placeholder='Name, z.B. Wohnung in München', name='name', required='required')
			span.input-group-btn
				input.btn.btn-primary(type='submit', value='Gründen')
	

	h2.sub-header Einladungen an mich
	

	table.table.table-striped
		thead
			tr
				th Von
				th Haushalt
				th(colspan='2')
		tbody
			each invitation in invitationsToMe
				tr
					td= invitation.person_name
					td= invitation.household_name
					td
						form(method='POST', action='/household/invitation/accept')
							input(type='hidden', name='_csrf', value=_csrf)
							input(type='hidden', name='household', value=invitation.household_id)
							input.btn.btn-success.pull-right(type='submit', value='Annehmen')
					td
						form(method='POST', action='/household/invitation/decline')
							input(type='hidden', name='_csrf', value=_csrf)
							input(type='hidden', name='household', value=invitation.household_id)
							input.btn.btn-warning.pull-right(type='submit', value='Ablehnen')
	
	h2.sub-header Einladungen von mir
	
	table.table.table-striped
		thead
			th An
			th Haushalt
			th
		tbody
			each invitation in invitationsFromMe
				tr
					td= invitation.person_name
					td= invitation.household_name
					td
						form(method='POST', action='/household/invitation/cancel')
							input(type='hidden', name='_csrf', value=_csrf)
							input(type='hidden', name='household', value=invitation.household_id)
							input(type='hidden', name='to_person', value=invitation.to_person_id)
							input.btn.btn-warning.pull-right(type='submit', value='Zurücknehmen')
				
	h2.sub-header Einladen
	
	div.alert.alert-info(role='alert')
		p Du musst Gründer sein, um Einladen zu können.
	div.form
		form(method='POST', action='/household/invitation/create')
			input(type='hidden', name='_csrf', value=_csrf)
			input#invite-household(type='hidden', name='household')
			div.input-group
				div.input-group-btn
					button.btn.btn-default.dropdown-toggle#invite-button(type='button', data-toggle='dropdown', size='1')
						span#invite-button-text -- Wähle Haushalt -- 
						span.caret
					ul.dropdown-menu(role='menu')
						each household in households
							if household.role === 'founder' 
								li
									a(onclick='changeInviteButton('+household.id+',"'+household.name+'")' value=household.id)= household.name
								
				script(type="application/javascript")
					|function changeInviteButton(value,name){
					|	//console.log("v:"+value+" n:"+name);
					|	document.getElementById('invite-household').value = value;
					|	document.getElementById('invite-button-text').textContent = name+" ";
					|};
				input.form-control(type='email', name='email', placeholder='freund@example.de', required='required')
				span.input-group-btn
					input.btn.btn-primary(type='submit', value='Einladen')
					
	h2.sub-header Mein Account
	
	form(method='post', action='/person/update')
		input(type='hidden', name='_csrf', value=_csrf)
		table.table.table-striped
			thead
				tr
					td Anzeige-Name
					td
						div.input-group
							input.form-control(type='text', name='name', value=person.name)
							span.input-group-btn
								input.btn.btn-primary(type='submit', value='Aktualisieren')
			tbody
				tr
					td Mail-Adresse
					td= person.email
				tr
					td Status
					td= ({customer:'Standard-Account', admin:'Admin'})[person.role]

	form(method='post', action='/person/password_change')
		input(type='hidden', name='_csrf', value=_csrf)
		table.table.table-striped
			tr
				td Aktuelles Passwort
				td
					input.form-control(type='password', name='password_old')
			tr
				td Neues Passwort
				td
					input.form-control(type='password', name='password')
			tr
				td Neues Passwort bestätigen
				td
					input.form-control(type='password', name='password_confirm')
		input.btn.btn-success.pull-right(type='submit', value='Passwort ändern')
