extends layout-customer

block head

block content
	h1 Mein Account
	
	form(method='post', action='/person/update')
		input(type='hidden', name='_csrf', value=_csrf)
		table
			tr
				td Anzeige-Name
				td
					input(type='text', name='name', value=person.name)
			tr
				td Mail-Adresse
				td= person.email
			tr
				td Status
				td= ({customer:'Standard-Account', admin:'Admin'})[person.role]
		input(type='submit', value='Aktualisieren')

	h1 Haushalte
	
	table
		each household in households
			tr
				td
					a(href='/household/' + household.id)= household.name
				td
					if household.role === 'founder'
						span &#9733;
				td
					//- a(href='/household/leave?id=' + household.id) Verlassen

	p &#9733; = Gründer
					
	form(method='POST', action='/household/create')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='text', placeholder='Name, z.B. Wohnung in München', name='name', required='required')
		input(type='submit', value='Gründen')
	
	h2 Einladungen an mich
	
	table
		tr
			th Von
			th Haushalt
			th(colspan='2')
		each invitation in invitationsToMe
			tr
				td= invitation.person_name
				td= invitation.household_name
				td
					form(method='POST', action='/household/invitation/accept')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='household', value=invitation.household_id)
						input(type='submit', value='Annehmen')
				td
					form(method='POST', action='/household/invitation/decline')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='household', value=invitation.household_id)
						input(type='submit', value='Ablehnen')
	
	h2 Einladungen von mir
	
	table
		th An
		th Haushalt
		th
		each invitation in invitationsFromMe
			tr
				td= invitation.person_name
				td= invitation.household_name
				td
					form(method='POST', action='/household/invitation/cancel')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='household', value=invitation.household_id)
						input(type='hidden', name='to_person', value=invitation.to_person_id)
						input(type='submit', value='Zurücknehmen')
				
	h2 Einladen
	
	p Du musst Gründer sein, um Einladen zu können.
	
	form(method='POST', action='/household/invitation/create')
		input(type='hidden', name='_csrf', value=_csrf)
		select(name='household', size='1')
			option(value='') -- Wähle Haushalt --
			each household in households
				if household.role === 'founder'
					option(value=household.id)= household.name
		input(type='email', name='email', placeholder='freund@example.de', required='required')
		input(type='submit', value='Einladen')