extends layout-customer

block head

block content
	h1= title
	
	h2 Infos
	
	table
		tr
			td Laden
			td= shoppingList.shop_name
		tr
			td Einkäufer
			td= shoppingList.buyer_name
		tr
			td Wann?
			td= formatDate(shoppingList.shopped)
		tr
			td Erstellt
			td= 'von ' + shoppingList.creator_name + ' am ' + formatDate(shoppingList.created)
	
	h2 Anteile
	
	table
		each person in stats
			tr
				td= person.name
				td= formatCurrency(person.total)
		tr
			th Gesamt
			th= formatCurrency(shoppingList.total_price)
	
	h2 Items
	
	table
		each item in shoppingItems
			tr
				td= item.name
				td= item.owner_name
				td= formatCurrency(item.price)
				
	form(method='post', action='/shopping_item/create')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='shopping_list', value=shoppingList.id)
		input(type='text', name='name', placeholder='Produktname')
		select(name='owner')
			option(value='') --Wähle Besitzer--
			each member in members
				option(value=member.id)= member.name
		input(type='text', name='price', placeholder='Preis in €, z.B. 12.30')
		input(type='submit', value='Erstellen')