extends layout-customer

block head

block content
	h1.page-header= title
	
	if householdRole === 'founder'
		form(method='post', action='/household/update')
			input(type='hidden', name='_csrf', value=_csrf)
			input(type='hidden', name='id', value=household)
			div.input-group
				span.input-group-addon Name
				input.form-control(type='text', name='name', value=householdName)
				span.input-group-btn
					input.btn.btn-primary(type='submit', value='Ändern')
	
	h2.sub-header Mitglieder
	
	table.table.table-striped
		each member in members
			tr
				td= member.name
				td= member.email
				td
					if member.role === 'founder'
						span &#9733;
	p &#9733; = Gründer
	
	div.alert.alert-info(role='alert')
		p Du musst Gründer sein, um Einladen zu können.
	
	if householdRole === 'founder'
		form(method='POST', action='/household/invitation/create')
			input(type='hidden', name='_csrf', value=_csrf)
			input(type='hidden', name='household', value=household)
			div.input-group
				input.form-control(type='email', name='email', placeholder='freund@example.de', required='required')
				span.input-group-btn
					input.btn.btn-primary(type='submit', value='Einladen')
		
	h2.sub-header Schuldenmatrix
	
	table.table.table-striped
		tr
			td
			th(colspan=members.length) ... hat Schulden bei ...
		tr
			td
			each buyer in members
				th= buyer.name
			th Schulden-Summe
			th Differenz
		each owner, ownerIndex in members
			tr
				th= owner.name
				each buyer, buyerIndex in members
					if ownerIndex == buyerIndex
						td -
					else
						td= formatCurrency2(debtsMatrix[ownerIndex * members.length + buyerIndex].total)
				th= formatCurrency2(debtsSummary[ownerIndex].incoming)
				th= formatCurrency2(debtsSummary[ownerIndex].diff)
		tr
			th Bezahlt-Summe
			each sum in debtsSummary
				th= formatCurrency2(sum.outgoing)
					
	div.alert.alert-info(role='alert')
		p Von links nach rechts lesen!

	h2.sub-header Einkaufslisten
	
	table.table.table-striped
		each shoppingList in shoppingLists
			tr
				td
					a.btn.btn-default(href='/shopping_list/' + shoppingList.id) Ansehen »
				td= shoppingList.person_name
				td= shoppingList.shop_name
				td= formatDate(shoppingList.shopped)
				td= formatCurrency(shoppingList.total)
	
	div.form
		form(method='POST', action='/shopping_list/create')
			input(type='hidden', name='_csrf', value=_csrf)
			input(type='hidden', name='household', value=household)
			div.input-group
				div.input-group-btn
					button.btn.btn-default.dropdown-toggle#shopping-list-add-button(style='', type='button', data-toggle='dropdown', size='1', name='buyer', value='')
						span#shopping-add-button-text -- Wähle Einkäufer --
						span.caret
					ul.dropdown-menu(role='menu')
						each member in members
							li
								a(onclick='changeShoppingAddButton('+member.id+',"'+member.name+'")')= member.name
							//option(value=member.id)= member.name
				
				script(type="application/javascript")
					|function changeShoppingAddButton(value,name){
					|	console.log("v:"+value+" n:"+name);
					|	document.getElementById('shopping-list-add-button').value = value;
					|	document.getElementById('shopping-add-button-text').textContent = name+" ";
					|};
				div.input-three
					input.form-control.noborder(type='text', name='shop', value='', placeholder='Laden, z.B. Supermarkt an der Ecke')
					input.form-control.noborder(type='text', name='shopped_date', placeholder='TT.MM.JJJJ')
					input.form-control.noborder(type='text', name='shopped_time', placeholder='HH:MM')
				div.input-group-btn
					input.btn.btn-primary(type='submit', value='Erstellen')