extends layout-customer

block head

block content
	h1.page-header= title
	
	h2.sub-header Infos
	
	form(method='post', action='/shopping_list/update')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='id', value=shoppingList.id)
		table.table.table-striped
			tr
				td Laden
				td
					input(type='text', name='shop', value=shoppingList.shop_name)
				td= shoppingList.shop_name
			tr
				td Einkäufer
				td
					select(name='buyer')
						each member in members
								option(value=member.id, selected=(shoppingList.buyer_id == member.id))= member.name
				td= shoppingList.buyer_name
			tr
				td Wann?
				td
					input(type='text', name='shopped_date', value=formatDate(shoppingList.shopped, 'date'))
					input(type='text', name='shopped_time', value=formatDate(shoppingList.shopped, 'time'))
				td= formatDate(shoppingList.shopped)
			tr
				td Erstellt
				td= 'von ' + shoppingList.creator_name + ' am ' + formatDate(shoppingList.created)
		input.btn.btn-primary(type='submit', value='Ändern')
	
	h2.sub-header Anteile
	
	table.table.table-striped
		each person in stats
			tr
				td= person.name
				td= formatCurrency(person.total)
		tr
			th Gesamt
			th= formatCurrency(shoppingList.total_price)
	
	h2.sub-header Items
	
	table.table.table-striped
		each item in shoppingItems
			tr
				td= item.name
				td= item.owner_name
				td= formatCurrency(item.price)
				
	form(method='post', action='/shopping_item/create')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='shopping_list', value=shoppingList.id)
		input(type='text', name='name', placeholder='Produktname')
		select(name='owner')
			option(value='') --Wähle Besitzer--
			each member in members
				option(value=member.id)= member.name
		input(type='text', name='price', placeholder='Preis in €, z.B. 12.30')
		input(type='submit', value='Erstellen')