extends layout-customer

block head

block content
	h1= title
	
	h2 Mitglieder
	
	table
		each member in members
			tr
				td= member.name
				td= member.email
				td
					if member.role === 'founder'
						span &#9733;
	p &#9733; = Gründer
		
	h2 Schuldenmatrix
	
	table
		tr
			td
			td(colspan=members.length) ... hat Schulden bei ...
		tr
			td
			each buyer in members
				td= buyer.name
		each owner, ownerIndex in members
			tr
				td= owner.name
				each buyer, buyerIndex in members
					if ownerIndex == buyerIndex
						td -
					else
						td= formatCurrency(matrix[ownerIndex * members.length + buyerIndex].total)
					
	p Von links nach rechts lesen!

	h2 Einkaufslisten
	
	table
		each shoppingList in shoppingLists
			tr
				td
					a(href='/shopping_list/' + shoppingList.id) Ansehen
				td= shoppingList.person_name
				td= shoppingList.shop_name
				td= formatDate(shoppingList.shopped)
				td= formatCurrency(shoppingList.total)
	
	form(method='POST', action='/shopping_list/create')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='household', value=household)
		select(name='buyer')
			option(value='') -- Wähle Einkäufer --
			each member in members
				option(value=member.id)= member.name
		input(type='text', name='shop', value='', placeholder='Laden, z.B. Supermarkt an der Ecke')
		input(type='text', name='shopped_date', placeholder='TT.MM.JJJJ')
		input(type='text', name='shopped_time', placeholder='HH:MM')
		input(type='submit', value='Erstellen')