extends layout-customer

block head

block content
	h1= title
	
	h2 Mitglieder
	
	table
		each member in members
			tr
				td= member.name
				td= member.email
				td
					if member.role === 'founder'
						span &#9733;
	p &#9733; = Gründer
				
	h2 Einkaufslisten
	
	table
		each shoppingList in shoppingLists
			tr
				td= shoppingList.person_name
				td= shoppingList.shop_name
				td= shoppingList.created